@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* ===================common css style ==============*/
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700px;
    line-height: 12px;
}

P {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* header section style */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navbar li {
    list-style: none;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #0cdfd1;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #0cdfd1;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*  <!-- =============== heroo section start--> */
.hero {
    background-image: url(/img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 30% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #0cdfd1;
}

.hero button {
    color: #0cdfd1;
    background-color: transparent;
    background-image: url(/img/button.png);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
}

/* <!-- features section !!!!!!!!!!!!!!!!!!!--> */
#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

}

#features .features-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 5px;
    transition: 0.5s;

}

#features .features-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.5);
    transform: translate();
}

#features .features-box img {
    width: 100%;
    margin-bottom: 10px;
}

#features .features-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: #0cdfd1;
    background-color: #fddde4;
    display: inline-block;
}

#features .features-box:nth-child(2) h6 {
    background-color: #8acc64;
    color: aqua;
}

#features .features-box:nth-child(3) h6 {
    background-color: #6559ab;
}

#features .features-box:nth-child(4) h6 {
    background-color: #a77e36;
}

#features .features-box:nth-child(5) h6 {
    background-color: #143104;
}

#features .features-box:nth-child(6) h6 {
    background-color: #10b42c;
}

/*  <!-- Product section --> */
.Pro-Container{
display: grid;
grid-template-columns: repeat(4, 1fr);
}
#product-1 {
    text-align: center;
}

#product-1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #ccc7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 25px 25px 40px rgba(0, 1, 1, 0.09);
    margin: 15px 0;
    position: relative;
}

#product-1 .pro:hover {
    box-shadow: 35px 35px 40px rgba(1, 1, 1, 0.2);
    ;
}

#product-1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product-1 .pro .dress {
    text-align: start;
    padding: 10px 0;
}

#product-1 .pro span {
    color: #2020ce;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    
}
#product-1 .pro h5{
    padding-top: 7px;
    color: #161fd3cb;
    font-size: 17px;
}

#product-1 .pro i {
    padding-top: 7px;
    color: yellow;

}
#product-1 .pro h4{
    padding-top: 10px;
    color: rgba(37, 37, 189, 0.785);
}
#product-1 .Pro-Container .pro a i{
    color: #088178;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: #e8f6ea;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
   
}
/* <!-- !!!!!!!!!!!!!call to action  --> */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
text-align: center;
color: #10b42c;
}
#banner h2{
text-align: center;
margin-top: 10px;
color: #10b42c;
}
#banner h2 span{
    color: antiquewhite;
}
#banner button {
    margin-top: 10px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    border: none;
    background-color: #f0f0f0; /* Example background color */
    cursor: pointer;
    border-radius: 9px;
    transition: 0.5s;
    color: #143104;
}
#banner button:hover{
    background-color: #3ea099;
    transform: translate();
}
/* <!-- smaller banner section --> style */
#sm-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(/img/banner/b17.jpg);
    border-radius: 15px;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-left: 15px;
}
#sm-banner .banner-box h4{
    text-align: center;
    color: #10b42c;
}
#sm-banner .banner-box h2{
    text-align: center;
    margin-top: 10px;
    color: #10b42c;
}
#sm-banner .banner-box span{
    color: rgb(47, 210, 18);
    margin-top: 10px;
}
#sm-banner .banner-box button{
    margin-top: 10px;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    border: none;
    background-color: rgb(106, 181, 106); /* Example background color */
    cursor: pointer;
    border-radius: 9px;
    transition: 0.5s;
    color: #143104;
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
}
#sm-banner .banner-box button:hover{
    background-color: #0df4e5;
    transform: translate();
}
#sm-banner .banner-box2{
    background-image: url(/img/banner/b10.jpg);
}
/* <!-- another section --> banner style */

#banner-3{
   display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;

}

#banner-3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(/img/banner/b7.jpg);
    border-radius: 15px;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
#banner-3 .banner-box-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(/img/banner/b4.jpg);
    border-radius: 15px;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
#banner-3 .banner-box-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(/img/banner/b18.jpg);
    border-radius: 15px;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}
.banner-box h4{
color: wheat;
padding: 10px;
}
.banner-box h2{
    color: rgb(7, 255, 201);
    padding: 10px;
    font-size: 29px;
    font-weight: bold;
}
/* <!-- news leater section --> style */
#news-latter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #5525a3;
}
.news-latter-left h3{
    font-size: 35px;
    color: white;
}
.news-latter-left P{
    font-size: 15px;
    color: wheat;
}
.news-latter-left P span{
    color: rgb(11, 241, 115);
}
#news-latter .from input{
    height: 40px;
    width: 300px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #fff;
}
#news-latter .from button{
    height: 40px;
    width: 80px;
    border: none;
    background-color: rgb(106, 181, 106); /* Example background color */
    cursor: pointer;
    border-radius: 9px;
    transition: 0.5s;
    color: #143104;
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
}
#news-latter .from button:hover{
    background-color: #10b42c;
}
/* ===================this is footer section style */
footer{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
    align-items: center;
}
footer .end p{
    width: 100%;
    text-align: center;
    color: red;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 17px;
    padding-bottom: 20px;
}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}
footer .col a{
    font-size: 15px;
    margin: 0 0 8px 0;
    text-decoration: none;
    color: #280df4;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #3e622a;
    padding-right: 8px;
    cursor: pointer;
    font-size: 25px;
}
footer .install .row img{
border: 1px solid green;
border-radius: 6px;
display: flex;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover{
    color: #0cdfd1;
}




 footer .end {
    text-align: center;
   width: 100%;
   color: red;
}